@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Montserrat, system-ui, sans-serif;
  }

  body {
    background-color: #f7f8f9;
    font-size: 14px;
  }

  [type='text'],
  [type='email'],
  [type='url'],
  [type='password'],
  [type='number'],
  [type='date'],
  [type='datetime-local'],
  [type='month'],
  [type='search'],
  [type='tel'],
  [type='time'],
  [type='week'],
  [multiple],
  textarea,
  select {
    @apply w-full rounded border-light-2 bg-light px-4 py-3 text-[15px] text-dark-grey hover:border-grey focus:border-light-blue focus:ring-light-blue;
  }

  select {
    @apply cursor-pointer;
  }

  option {
    @apply bg-white text-black;
  }

  [type='checkbox'] {
    @apply h-5 w-5 cursor-pointer rounded border-light-gold text-light-blue checked:border-light-blue focus:ring-0 focus:ring-offset-0 focus-visible:ring-light-blue focus-visible:ring-2 focus-visible:ring-offset-2;
  }

  label[for] {
    @apply block h-auto w-full cursor-pointer;
  }
}
